:root{
--primary-text-color:#2E2F42;
--title-text-color:#434455;
--accent-color:#404BBF;
--background-color: #fff;
--button-color: #4D5AE5;
--button-secondary:#F4F4FD;
--button-secondary-border:#E7E9FC;
--footer-text: #E7E9FC;
--logo-web:#4D5AE5;
--logo-footer-studio:#F4F4FD;
--wite-color-text:#fff;
--background-team:#F4F4FD;
--border-customers: #8E8F99;
--background-soc:#4D5AE5;
--background-soc-hover:rgba(255, 255, 255, 0.1);
--logo-cor:#8E8F99;
--soc-link-footer:rgba(255, 255, 255, 0.1);
--soc-link-footer-hover:#31D0AA;
--background-modal: #FCFCFC;
--background-backdrop: rgba(46, 47, 66, 0.4);
--input-text-color: #8E8F99;
--policy-text-color:#757575;
}
body {
    color: var(--title-text-color);
    font-family: roboto, sans-serif; 
}
a {
    text-decoration: none;
}
@keyframes overlay{
    0%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(300px);
    }
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background: var(--background-soc);
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform 250ms linear;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-team);
    padding: 32px 40px;

        
}
.products-list-img {
    position: relative;
    overflow: hidden;
}
.list {
    list-style: none;
}
.logo-header{
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-family: raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    margin-right: 76px;
}
.web{
    color: var(--logo-web);
}
.logo-footer{
    text-transform: uppercase;
    font-family: raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: var(--wite-color-text);
    margin-bottom: 16px;
    /* display: flex; */
}
.studio{
    color: var(--logo-footer-studio);
}
.header{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}


.header-navigation{
    display: flex;
}
.header-container{
    display: flex;
    min-height: 72px; 
    align-items: center;
    justify-content: space-between;
    
}
.site-nav .link {
    color:var(--primary-text-color);
    position: relative;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
        250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    
}
.site-nav .link:hover, 
.site-nav .link:focus{
    color:var(--accent-color);
}
.site-nav .link.current {
    color: var(--button-color);
    
}
.site-nav{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    gap: 40px;
}
.auth-nav .link{
    color: var(--title-text-color);
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
}
.auth-nav{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    gap: 40px;
}
.auth-nav .link:hover,
.auth-nav .link:focus{
    color: var(--accent-color);
}
.address{
    
}
.hero{
    background: var(--primary-text-color);
    padding-top: 188px;
    padding-bottom:188px;
    background-image: linear-gradient(to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.hero-title{
    color: var(--wite-color-text);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.11;
    width: 494px;
}
.hero-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    row-gap:  48px;
    align-items: center;
    column-gap: 48px;
}
.section-specifics{
    padding-top: 96px;
    padding-bottom: 96px;
}


.section-title{
    color:var(--primary-text-color);
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
}
.transform{
    text-transform: capitalize;
}
.feature-list .title{
color: var(--primary-text-color);
}


.cards{
    text-align: center;
    background: var(--background-color);
    border: 1px;
    border-style: solid;
    border-top: none;
    border-color:var(--button-secondary-border);
    padding-bottom: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
        width: 264px;
}
.feauture-item{
    margin-bottom: 72px;
}
.feauture-item:nth-last-child(-n + 1) {
    margin-bottom: 0px;
}

.feature-title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 32px;
    margin-bottom: 8px;
}
.feature-text-team {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
}
.feature-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
    text-align: center;
}
.feature-text{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0px;
}
.section-doing{
    display: none;
}

.section-team{
    background-color: var(--background-team);
    padding-top: 96px;
        padding-bottom: 128px;
}
.team .title {
    color: var(--primary-text-color);
}
.team-list{
    
        text-align: center;
}
.team-item{
    /* width: calc((100% - 72px) / 4); */
        margin-bottom: 72px;
            display: inline-block;
}
.team-item:last-child {
    margin-bottom: 0;
}
.button,
.button:hover,
.button:focus {
    transition: opacity 250ms  cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms  cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border, box-shadow, text;
    font-family: roboto, sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    text-align: center;
}
.button.primary{    
    color: var(--wite-color-text);
    background-color: var(--button-color);
    border: none;
    min-width: 169px;
    min-height: 56px;
}
.button.primary:hover,
.button.primary:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button.secondary{
    color: var(--button-color);
    background-color: var(--button-secondary);
    border-style: solid;
    border-color: var(--button-secondary-border);
    padding: 12px 24px;
}
.button.secondary:hover,
.button.secondary:focus {;
    background-color: var(--accent-color);
    color:var(--wite-color-text);
    border-style: solid;
    border-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.products{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    row-gap: 48px;
    column-gap: 20px;
}
.products-item{
    width: calc((100% - 40px) / 3);
}


.products-item-link{
    display: block;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: box-shadow;
    
}
.products-item-link:hover, .products-item-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.products-item-link:hover .overlay,
.products-item-link:focus .overlay {
    transform: translate(0, 0);

}
.products-list{
    border: 1px;
    border-style: solid;
    border-top: none;
    border-color: var(--button-secondary-border);
}
.products-title{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    font-family: roboto, sans-serif;
    padding-top: 32px;
    margin-bottom: 8px;
    padding-left: 16px;
}
.products-text {
    font-size: 16px;
    padding-left: 16px;
    padding-bottom: 32px;
    line-height: 1.5;
    color: var(--primary-text-color);
}
.footer {
    background-color: var(--primary-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
}
.section-btn{
    
}
.section-photo{
    padding-bottom: 120px;
    padding-top: 96px;
}   
.container{
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
ul{
    margin: 0;
    padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
.centered{
    text-align: center;
}
.no-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.no-margin{
    margin: 0;
}
.portfolio-header{
    margin-bottom: 96px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.button-btn{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
img{
    display: block;
    margin: 0;
    padding: 0;
}
.customers{
    padding-top: 96px;
    padding-bottom: 96px;
    max-width: 480px;
        margin-left: auto;
            margin-right: auto;

}
.list-customers{
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    justify-content: center;
    
}
.title-customers{
    height: 88px;
    width: 190px;
    margin-bottom: 72px;
}
.title-customers:nth-last-child(-n + 1) {
            margin-bottom: 0px;
}
.link-customers{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    color: var(--logo-cor);
    border: 1px solid var(--border-customers);
    border-radius: 4px;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color, color;
    
}

.logo-customers{
    fill: currentColor;
}
.soc-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}
.soc-item{
    width: 40px;
    height: 40px;
}
.soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--background-soc);
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
    
}
.soc-link-icon{
    fill: var(--wite-color-text);
}

.footer-container{
    text-align: center;

}
.footer .title {
    color: var(--footer-text);
    width: 264px;
    margin-top: 16px;
    /* margin-bottom: 72px; */
    text-align: left;
}
.social-media{
    /* margin-left: 120px; */
    text-align: center;
    margin-top: 72px;
    margin-bottom: 72px;
}
.subscribe-media{
    text-align: center;
    /* position: relative; */
    /* align-items: flex-end; */
    /* margin-left: 80px; */
}

.subscribe-flex{
    /* display: flex; */
    /* align-items: flex-end; */
    /* gap: 24px; */
    

}
.input-subscribe{
    
    outline: transparent;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color;
    
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding-left: 16px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--primary-text-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: rgba(255, 255, 255, 0.6);
}
.input-subscribe:focus{
    border-color: var(--accent-color);
}
.button-subscribe{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color, border, box-shadow, text;
    height: 40px;
    min-width: 165px;
    text-align: left;
    padding-left: 24px;
    border-radius: 4px;
    background: var(--button-color);
    border: none;
    
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--wite-color-text);
    gap: 16px;
    
}
.button-subscribe:hover,
.button-subscribe:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.subscribe-icon {
    fill: var(--wite-color-text);
    


}
.icon-submit{
    position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        /* transition-property: fill; */

}




.title-media{
    color: var(--footer-text);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-bottom: 16px;
}

.soc-list-footer {
    
    display: flex;
    justify-content: center;
    gap: 16px;
}
.soc-link-icon {
}
.soc-link-footer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soc-link-footer);
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color;
}

.header::after {
    content: "";
    position: absolute;
    width: 1440px;
    border-bottom: 1px solid var(--button-secondary-border);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    
    
}
.current::after{
    content: "";
    background: #404BBF;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    top: 42px;
    z-index: 1;
}
.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: var(--background-backdrop);
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1) , 250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
}



.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 576px;
    background: var(--background-modal);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-title{
    display: block;
    text-align: center;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
}
.modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);;
    padding: 0;
    background: #E7E9FC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: background-color, fill;
}
.modal-close:hover, .modal-close:focus{
    background-color: var(--accent-color);
    cursor: pointer;

    
}
.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon{
    fill: var(--wite-color-text);
    
    
}
.modal-message{
    width: 100%;
        height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        background: transparent;
        outline: transparent;
        font-size: 12px;
        padding-left: 16px;
        padding-top: 8px;
        transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color;
        margin-bottom: 16px;
}
.modal-message:focus{
    border-color: var(--background-soc);
    

}
textarea {
    resize: none;
}


.modal-form{
    display: flex;
    flex-direction: column;
    
    
}
.modal-field{
    display: flex;
    flex-direction: column;
    
    
}
.privacy{
    text-decoration: underline;
    padding-left: 2px;
    color: var(--button-color);
}




.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background: transparent;
    outline: transparent;
    font-size: 18px;
    padding-left: 38px;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: border-color;
    margin-bottom: 8px;
    
        
    

}
::placeholder{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(117, 117, 117, 0.5);
            
}
.input-text{
        display: inline-block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--input-text-color);
        margin-bottom: 4px;
        
}
.input-check:checked + .check-text::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/galka.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.input-check:focus+.check-text::before {
    border-color: var(--accent-color);

}
.checkbox{
    margin: 0;
}
.check-text{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--policy-text-color);
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        
        
}
.check-text::before{
    content: " ";
    height: 16px;
    width: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px; 
    
}



.input-wrap{
    position: relative;
    margin-bottom: 8px;
}
.modal-icon{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
            250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: fill;
}
.modal-input:focus{
    border-color: var(--background-soc);
}
.modal-input:focus + .modal-icon{
    fill: var(--button-color);
} 
.btn-submit{
        display: inline-block;
        margin: auto;
}