@media screen and (min-width: 768px){
    .header>.container {
        width: 768px;
    }
    .header-container{
        align-items: normal;
    }
    .mail-padding{
        margin-bottom: 8px;
    }
        .logo-header {
        margin-right: 123px;
    }
    .header-navigation {
        display: flex;
        align-items: center;
    }
    .menu-open {
        display:none
    } 
    .site-nav .link{
        display: block;
    }
    .address {
        display: block;
        display: flex;
        align-items: flex-end;
        margin-bottom: 12px;
    }
    .site-nav .link {
        color: var(--primary-text-color);
        position: relative;
        transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
        250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }
    .site-nav .link.current {
        color: var(--button-color);
    }
    .site-nav {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        display: flex;
        gap: 40px;
    }
    .auth-nav .link {
        color: var(--title-text-color);
        transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1),
        250ms visibility cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
    }
    .auth-nav {
        font-style: normal;
        font-size: 12px;
        line-height: 1.17;
    }
    .modal {
        width: 408px;
    }
    .hero{
        padding-top: 112px;
        padding-bottom: 108px;
        background-image: linear-gradient(to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tab.jpg);
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tab-2x.jpg);
        }
    }
    .hero-title {
        min-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin-bottom: 40px;
    }
    .hero-container{
        width: 526px;
    }
    .section-specifics > .container {
        width: 582px;
    }
    .feature-title{
        text-align: left;
        font-size: 36px;
    }
    .specifics-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .feauture-item {
        width: calc((100% - 24px) / 2);
        margin-bottom: 72px;
    }
    .feauture-item:nth-last-child(-n + 2) {
        margin-bottom: 0px;
    }
    .section-team {
        background-color: var(--background-team);
        padding-top: 96px;
        padding-bottom: 128px;
        padding-left: 108px;
        padding-right: 108px;
    }
    .team-item{
        margin-bottom: 64px;
    }
    .team-item:nth-last-child(-n + 2){
        margin-bottom: 0px;
    }
    .title-customers {
        width: 168px;
    }
    .section-team > .container {
        width: 582px;
        padding-left: 0;
        padding-right: 0;
    }
    .team-list{
        display: flex;
        column-gap: 24px;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .title-customers:nth-last-child(-n + 3){
        margin-bottom: 0;
    }
    .customers{
        max-width: 582px;
    }
    .customers > .container {
        width: 582px;
    }
    .footer > .container{
        width: 582px;
    }
    .footer-container-all {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }
    .subscribe-flex{
        display: flex;
        gap: 24px;
    }
    .input-subscribe{
        width: 264px;
        margin-bottom: 0;
    }
    .logo-footer{
        display: flex;
    }
    .title-media{
        text-align: left;
    }
    .social-media{
        margin-top: 0;
    }
    /* ---- */
    .section-photo {
        padding-bottom: 96px;
        padding-top: 64px;
    }
    .section-photo > .container{
        width: 736px;
    }
    
                        .products {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            row-gap: 48px;
                            column-gap: 20px;
                        }

        .products-item {
            width: calc((100% - 24px) / 2);
        }
     .button-btn{
        justify-content: center;
    }
}